.form-label {
  padding-left: 2em;
}
.input-add {
  padding-left: 0em;
  margin-left: 5em;
  margin-top: 2em;
  border-color: green;
}

#colorField {
  margin-left: 10em;
}
#serialNumberField {
  margin-left: 2em;
}
#descrip {
  margin-left: 4.5em;
}

.colorButton {
  background-color: #5cdb95;
}
