img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 150px;
  object-position: top;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerContainer h3 {
  margin-bottom: 1em;
}
.registerContainer form {
  margin-bottom: 2em;
}
