.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1700px;

  padding-right: 30px;
}

.loginWrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.loginWrapper h2 {
  text-align: center;
  margin-bottom: 2em;
}
.loginWrapper h3 {
  text-align: center;
}

.loginContainer {
  display: flex;
  justify-content: space-around;
}

.loginCard .card-body {
  padding: 0;
}
.loginCard .form-group {
  margin-bottom: 1em;
}
.form {
  margin-left: 0.5em;
}

.input-login {
  align-self: auto;
}
#loginField input {
  margin-left: 2.8em;
}
#passwordField input {
  margin-left: 1em;
}
